
.swiper {
    width: 600px;
    height: 600px;
  }

  .swiper-wrapper{
    border-radius: 16px;
    background: #faf6fd;
    box-shadow:
        10px 10px 30px #d5d1d7,
        -10px -10px 30px #ffffff;
    li{
        @include d-flex(column, center, center);
        img{   
            width: 500px;
            height: 500px;
            object-fit: contain;
        }
    }
  }