$color-naranja-oscuro: #FF561B;
$color-naranja-medio: #FF831B;
$color-naranja-claro: #FFB11B;
$color-amarillo-oscuro: #FFDF1B;
$color-amarillo: #F2FF1B;

$color-blanco: #FAF6FD;

$color-gris-claro: #d1d1cf;