header {
    background: $color-naranja-claro;
    padding: 1rem;
    margin-block-end: 1.5rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    div {
        display: flex;
        justify-content: space-around;
        width:50%
    }
    nav {
        width:40%;
        @include d-flex(row, center, space-around);

        a {
            color: black;
            font-weight: map-get($map: $font-weights, $key:semibold );
        }
    }
}
