header {
    background: $color-naranja-claro;
    margin-block-end: 1.5rem;
    font-size: 1.1rem;
    div {
        width: 50%;

        a {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
    }
    nav {
        width: 40%;
        @include d-flex(row, center, space-around);
        span {
            padding: 0.5rem;
            color: $color-blanco;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
               color: #333;
            }

            i {
                font-size: 1rem;
                padding: 0 0.3rem;
            }
        }
        a {
            @include d-flex(row, center, space-around);
            gap: 10px;
            color: rgb(8, 8, 8);
            font-weight: map-get($map: $font-weights, $key: semibold);
            transition: 0.3s;
            &:hover {
                color: beige;
                border-bottom: 1px solid $color-amarillo;
                scale: 1.001;
            }
        }
    }
}
.top-header{
    width: 100%;
    text-align: center;
    background-color: #34495e;
    p {
        color: $color-blanco;
        font-size: .8rem;
        padding: 5px;
    }
}
.sub-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_logo_container {
    width: 20%;
    height: 100%;
}

.nav_logo{
    color: #333;
    width: 140px;
    height: 55px;
    font-size: 1.3rem;
    font-weight: 500;
    text-shadow: 1px 1px 30px #333;
}